# Redis
REDIS_HOST
REDIS_PORT
REDIS_PASSWORD
REDIS_DB
REDIS_DUMP_INTERVAL
REDIS_URI

# App
DEBUG
EMBEDDING_PROVIDER

# Postgres
DATABASE_URL
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

# Qdrant
QDRANT_HOST
QDRANT_GRPC_PORT
QDRANT_VECTOR_SIZE

# Ollama
OLLAMA_BASE_URL
OLLAMA_MODEL
OLLAMA_LLM_BASE_URL
OLLAMA_LLM_MODEL

# NGinX
EXPOSED_PORT
